<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Enrollment system - Person Courses</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='https://bootswatch.com/5/flatly/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <h1>Courses for: <span th:text="${person.name} + ' ' + ${person.surname}"></span></h1>
        <a href="/"><button class="btn btn-secondary">Back to Persons</button></a><br/><br/>
        <div th:if="${#lists.isEmpty(courses)}">
            <p class="alert alert-info">This person is not enrolled in any courses.</p>
        </div>
        <table class="table table-striped" th:unless="${#lists.isEmpty(courses)}">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Credits</th>
                    <th>Type</th>
                    <th>Year</th>
                    <th>Semester</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="course : ${courses}">
                    <td th:text="${course.id}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.credits}"></td>
                    <td th:text="${course.type}"></td>
                    <td th:text="${course.year}"></td>
                    <td th:text="${course.semester}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
